* {
  font-family: "Poppins-Regular";
  font-size: 14px;
  margin: 0;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./resources/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./resources/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./resources/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("./resources/Poppins-ExtraBold.ttf");
}

#root {
  --darkcolor: #004e64;
  --blue: #004e64;
  --lightcolor: #9fffcb;
  --dakgreen: #25a18e;
  --lightgreen: #7ae582;
  --offwhite: #ebfff4;
  color: var(--darkcolor);
}

main {
  /* background-color: var(--offwhite); */
}

/* use for app name only */
h1 {
  font-size: 42px;
  font-family: "Poppins-ExtraBold";
}

/* use for page titles only */
h2 {
  font-size: 36px;
  text-align: center;
  font-family: "Poppins-SemiBold";
}

/* use for subheading like form title, filter menu title, etc. */
h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

h4 {
  margin-bottom: 10px;
}

/* add className="form" to any form to apply these styles */
.form {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  padding: 20px;
  margin: 20px;
  max-width: 800px;
}

form h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

label input[type="checkbox"] {
  margin-left: 5px;
}

form button[type="submit"] {
  min-width: 150px;
  padding: 10px 15px;
  margin: 0 auto; /* Centers the button horizontally */
  display: block; /* Standard block behavior */
}

/* use for login and register pages layout */
.auth-page {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* use for homepage layout */
.homepage {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
