.body-nav-button {
  border: 1px solid var(--darkcolor);
  color: var(--darkcolor);
  background-color: var(--offwhite);
  border-radius: 32px;
  padding: 10px 15px;
}

button.body-nav-button:hover {
  background-color: var(--darkcolor);
  color: var(--offwhite);
  border: 1px solid var(--darkcolor);
  border-radius: 32px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  cursor: pointer;
}
