.learning-page {
  display: flex;
  height: 100vw;
}

.resources-container {
  margin: 20px;
  /* height: 100vw; */
}

.resources-list {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
