.learning-page {
  display: flex;
}

.resources-container {
  margin: 20px;
}

.resources-list {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* grid-template-columns: repeat(12, minmax(0, 1fr));
  display: grid;
  width: 100%;
  padding-left: 0;
  row-gap: 2rem; */
}
