.job-details-container {
  max-width: 800px;
  margin: 20px;
  border: 1px solid var(--darkgreen);
  border-radius: 5px;
  padding: 20px;
  background-color: var(--offwhite);
}

.job-details {
  min-height: 30px;
  padding: 10px;
}

.job-details b {
  margin-right: 5px;
}

.job-details.skills {
  display: flex;
  gap: 5px;
  padding: 10px 10px;
  align-items: center;
}

.job-skill {
  min-height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--lightgreen);
  border-radius: 1.5rem;
}
