.job-details-page {
  margin: 20px;
  height: 100vw;
}

.job-detail-container {
  border: 1px solid white;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dropdown {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
}
