.recommended-resources {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.recommended-wrapper {
  border: 1px solid var(--darkgreen);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  background-color: var(--darkgreen);
}
