.resource-card {
  border: solid 1px;
  border-radius: 5px;
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Align children vertically */
  justify-content: space-between; /* Space out top and bottom sections */
  /* 
  grid-template-columns: 1fr;
  grid-template-rows: 2fr repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; */
  /* min-width: 200px; */
  width: 250px;
  height: 250px;
  padding: 0;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}
.resource-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.r-type {
  padding: 0.25rem 0.75rem;
  /* grid-area: 2 / 1 / 3 / 2; */
}

.course {
  background-color: yellow;
}

.tutorial {
  background-color: aqua;
}

.book {
  background-color: greenyellow;
}

.r-title {
  /* grid-area: 1 / 1 / 2 / 2; */
  /* height: 100%; */
  padding: 1rem 0.75rem;
  margin: 0;
}

.r-skills {
  /* grid-area: 4 / 1 / 5 / 2; */
  display: flex;
  padding: 0.25rem 0.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.r-discipline {
  /* grid-area: 3 / 1 / 4 / 2; */
  padding: 1rem 0.75rem;
}

.skill-badge {
  border: solid 1px black;
  border-radius: 1.5rem;
  padding: 5px;
}
