.resource-card {
  border: solid 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 250px;
  padding: 0;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}
.resource-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.r-type {
  padding: 0.25rem 0.75rem;
}

.course {
  background-color: yellow;
}

.tutorial {
  background-color: aqua;
}

.book {
  background-color: greenyellow;
}

.r-title {
  padding: 1rem 0.75rem;
  margin: 0;
}

.r-skills {
  display: flex;
  padding: 0.25rem 0.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.r-discipline {
  padding: 1rem 0.75rem;
}

.skill-badge {
  border: solid 1px black;
  border-radius: 1.5rem;
  padding: 5px;
}
