.resource-card {
  border: 1px solid var(--darkgreen);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 250px;
  padding: 0;
  position: relative;
  background-color: var(--offwhite);
}

a {
  text-decoration: none;
  color: inherit;
}
.resource-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.r-type {
  padding: 0.25rem 0.75rem;
}

.course {
  background-color: var(--darkgreen);
  color: var(--offwhite);
}

.tutorial {
  background-color: var(--blue);
  color: var(--offwhite);
}

.book {
  background-color: var(--lightgreen);
}

.r-title {
  padding: 0.75rem;
  margin: 0;
  font-size: 16px;
  font-family: "Poppins-SemiBold";
}

.r-skills {
  display: flex;
  padding: 0.75rem;
  flex-wrap: wrap;
  gap: 5px;
}

.r-discipline {
  padding: 0.75rem;
  border-top: 1px dotted;
}

.skill-badge {
  /* border: solid 1px var(--darkcolor); */
  border-radius: 1.5rem;
  padding: 5px 10px;
  background-color: var(--lightgreen);
}
