/* Login.css */
.form.login {
  margin: 50px auto;
  max-width: 300px;
}

.form.login input,
.form.login button {
  margin-bottom: 8px;
}
.error-message {
  color: var(--lightgreen);
  margin-top: 10px;
}
.forgot-password-link {
  background: none;
  border: none;
  color: #468df8;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  margin-top: -20px;
  display: block;
  text-align: center;
}
