.form.register {
  margin: 50px auto;
}

.subtitle {
  text-align: center;
}

.final-steps-subtitle,
.subtitle {
  font-size: 16px;
  font-family: "Poppins-SemiBold";
}

.password-input button {
  border: none;
  /* border-radius: 8px; */
  background-color: #ebfff4;
  margin-left: 10px;
}

.signin {
  text-align: center;
}
