.skill-container {
  display: flex;

  flex-wrap: wrap;
  flex: 1 1 0px;
  gap: 25px;
}

.profile-skills {
  margin: 0 auto;
  max-width: 800px;
}

.profile-skills h3 {
  font-family: "Poppins-SemiBold";
}

.chart-container {
  display: flex;
  justify-content: flex-start;
  padding: 30px 20px;
  height: 400px;
}
