.job-card {
  border: 1px solid;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.job-card.job-title {
  grid-area: 1 / 1 / 2 / 2;
}
.job-card.job-company {
  grid-area: 1 / 2 / 2 / 3;
}
.job-card.job-location {
  grid-area: 1 / 3 / 2 / 4;
}
.job-card.job-deadline {
  grid-area: 1 / 4 / 2 / 5;
}
.job-card.job-skills {
  grid-area: 1 / 5 / 2 / 6;
}
.job-card.job-has-applied {
  grid-area: 1 / 6 / 2 / 7;
}
