.job-list-page {
  display: flex;
}

.jobs-container {
  margin: 20px;
  width: 100%;
}

.job-list-container {

  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  
}

.job-list-container .header {
  background-color: var(--darkcolor);
  color: var(--lightgreen);
  border: none;
}
.no-items.alert {
  margin-top: 20px;
  text-align: center;
}

.fake-button {
 background-color: var(--darkcolor) !important;
 color: var(--darkcolor) !important;

