.add-job-page {
  margin: 20px;
}

.add-job-form-container form {
  margin: 40px auto;
  padding: 40px !important;
  max-width: 1200px;
}

.add-job-form-container form textarea {
  height: 240px;
  width: 100%;
}

.add-job-form-container form input[type="text"],
.add-job-form-container form input[type="date"],
.add-job-form-container form input[type="url"],
.add-job-form-container form textarea,
.add-job-form-container form select,
#skills {
  margin-top: 0.2em;
  width: 100%;
}

.form-content {
  display: flex;
  flex-direction: row;
  flex: 1 1 0px;
}

.column {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px;
}

.radio-buttons {
  display: flex;
  gap: 10px;
}

.radio-buttons input {
  margin-right: 5px;
}
