.jobs-filter-menu-container {
  padding: 40px 20px;
  height: 100vw;
  width: 15%;
  min-width: 220px;
  background-color: var(--lightcolor);
}

.filter-section-title {
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.clear-filter-btn {
  margin-top: 20px;
  border-radius: 32px;
  border: none;
  background-color: var(--darkgreen);
  color: var(--offwhite);
  padding: 2px 20px;
}

input {
  border: none;
}
