.filter-menu-container {
  padding: 40px 20px;
  width: 15%;
  min-width: 220px;
  background-color: var(--lightcolor);
}

.r-label {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  gap: 10px;
}

.r-label-discipline {
  display: flex;
  align-items: center;
  margin: 30px 0 10px 0;
  gap: 10px;
  font-weight: bold;
}
